@tailwind base;
@tailwind components;
@tailwind utilities;

$theme1: #282c34;

// site specific
$heightOfHeader: 65px;
$boarderUniversal: 1px solid #ccc;

#root {
  height: 100%;
}

main {
  margin-top: $heightOfHeader + 35px;
  min-height: 100vh;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

a {
  background-color: transparent;
  text-decoration: none;
}

li {
  list-style-type: none;
}

// ul {
//   padding: 0px;
//   margin: 0px;
// }

img {
  border-style: none;
  width: 100%;
  height: auto;
}

.ruRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ruCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ant-card.css-dev-only-do-not-override-1qhpsh8 .ant-card-head {
  background-color: #333;
  color: #fff;
}

.ant-card-body {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
